:root {
    --base-color: #F5F6F7;
    --base-variant: #E1E2E3;
    --text-color: black;
    --secondary-text: #a4a5b8;
    --primary-color: #222945;
    --accent-color: #8791B0;
    --secondary-accent: #333;
    --button-color: #8791B0;    
}

.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: white;
    --secondary-text: #a4a5b8;
    --primary-color: #222945;
    --accent-color: #8791B0;
    --secondary-accent: #a7a7a7;
    --button-color: #8791B0;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
}

#theme-switch svg{
    fill: var(--accent-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--primary-color);
    overflow: hidden;
    border-bottom: 2px solid var(--base-variant);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: var(--secondary-text);
}

.nav li a:hover {
    background-color: var(--accent-color);
    color: black;
}

.nav li a.active {
    background-color: var(--primary-color);
    color: white;
}

body {
    background-color: var(--base-color);
    font-family: "Commissioner", sans-serif;
    overflow-x: hidden;
    width: 100%;
    color: var(--text-color);
}

.content-container {
    display: flex;
    gap: 40px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.text-content {
    flex: 1;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-links a {
    color: var(--secondary-accent);
    font-size: 24px;
    transition: color 0.3s ease;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.social-links a:hover {
    color: var(--accent-color);
}

.social-links i {
    vertical-align: middle;
    font-size: 50px;
    position: relative;
    top: -6px;
}

.artifact-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: auto;

}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
}

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.video {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    padding-top: 15px;
    font-style: italic
}

h2 {
    text-align: center;
    padding-top: 15px;
}

.col-md-6 {
    position: relative;
    overflow: visible !important;
    z-index: 1;
}

.center{
    text-align: center;
}

h4,
h5,
li {
    text-align: center;
    font-weight: 150;
}

li {
    list-style: none;
}

footer {
    font-weight: 200;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

a:link{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--accent-color);
    text-decoration: underline;
}